.register {
     background-image: url(https://i.ibb.co/sg5DFgM/logincover.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 0 0;
     width: 100%;
     min-height: calc(100vh - 335px);
}