.floating-greetings-tex {
     position: absolute;
     bottom: 0;
     right: 30px;
     background-color: #3d4461;
     color: white;
     padding: 15px 40px;
     margin-right: 25px;
     border-right: 7px solid #0d6efd;
     border-top-left-radius: 20px;
 }