.home-banner {
     padding: 70px 0;
     background-image: url(https://i.ibb.co/G37kFyq/cover.webp);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 0 0;
     padding: 130px 0;
}
.banner-qoute {
     font-family: times new roman,Sans-serif;
     color: white;
     font-size: 160px;
     font-weight: 900;
     line-height: .1em;
}
.banner-text {
     font-size: 60px;
     color: white;
     font-weight: 700;
 }
 .banner-btn a {
      color: white;
      text-decoration: none;
 }
 .banner-btn:hover a{
      color: rgb(0, 105, 175);
 }
@media (max-width: 600px) {
     .banner-text {
          font-size: 30px;
     }
}